:root {
	--primary-color: rgb(220, 225, 225);
	--secondary-color: rgb(88, 80, 80);
}

body {
	background-color: rgba(221, 234, 245, 0.79);
	padding: 0;
	margin: 0;
}

.container {
	position: absolute;
	height: 26em;
	width: 26em;
	border-radius: 50%;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	background-color: rgb(38, 38, 116);
}

.cloud {
	background-color: var(--primary-color);
	height: 5em;
	width: 20em;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 15em;
	border-radius: 6em;
}

.cloud:before {
	position: absolute;
	content: "";
	height: 10em;
	width: 10em;
	background-color: var(--primary-color);
	border-radius: 50%;
	bottom: 1em;
	left: 2em;
}

.cloud:after {
	position: absolute;
	content: "";
	height: 6em;
	width: 6em;
	background-color: var(--primary-color);
	border-radius: 50%;
	bottom: 3em;
	right: 3em;
	z-index: -1;
}

.moon {
	background-color: rgb(116, 112, 112);
	height: 10em;
	width: 10em;
	top: 6em;
	left: 12em;
	border-radius: 50%;
	position: absolute;
	overflow: hidden;
	animation: spin-moon 5s infinite linear;
	z-index: -2;
}
@keyframes spin-moon {
	100% {
		transform: rotate(360deg);
	}
}

/*displays craters*/
.moon:before {
	position: absolute;
	content: "";
	height: 1.5em;
	width: 1.5em;
	background-color: var(--secondary-color);
	border-radius: 50%;
	top: 3em;
	box-shadow: 7em 4em 0 0.75em var(--secondary-color),
		5em 5em 0 -0.5em var(--secondary-color),
		6em -1em 0 -0.15em var(--secondary-color),
		8em -0.5em 0 -0.5em var(--secondary-color),
		9em 1em 0 -0.15em var(--secondary-color),
		2em -3em 0 -0.2em var(--secondary-color);
}

.blush {
	position: absolute;
	width: 2em;
	height: 2em;
	background-color: rgba(227, 158, 221, 0.878);
	border-radius: 50%;
	left: 5.8em;
	box-shadow: 6em 0 rgb(227, 158, 221, 0.878);
}
.eyeLeft,
.eyeRight {
	position: absolute;
	height: 1em;
	width: 2em;
	background-color: rgb(60, 57, 57);
	border-radius: 0 0 1em 1em;
}

.eyeLeft {
	left: 6.5em;
}

.eyeRight {
	left: 10.8em;
}

.eyeLeft:after,
.eyeRight:after {
	position: absolute;
	content: "";
	background-color: azure;
	height: 0.6em;
	width: 1em;
	border-radius: 0 0 1em 1em;
}
