:root {
	--primary-color: rgb(220, 225, 225);
	--secondary-color: rgb(88, 80, 80);
}

body {
	background-color: rgba(221, 234, 245, 0.79);
	padding: 0;
	margin: 0;
}

.container {
	position: absolute;
	height: 26em;
	width: 26em;
	border-radius: 50%;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	background-color: rgb(38, 38, 116);
}

.cloud {
	background-color: var(--primary-color);
	height: 5em;
	width: 20em;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 15em;
	border-radius: 6em;
}

.cloud:before {
	position: absolute;
	content: "";
	height: 10em;
	width: 10em;
	background-color: var(--primary-color);
	border-radius: 50%;
	bottom: 1em;
	left: 2em;
}

.cloud:after {
	position: absolute;
	content: "";
	height: 6em;
	width: 6em;
	background-color: var(--primary-color);
	border-radius: 50%;
	bottom: 3em;
	right: 3em;
	z-index: -1;
}

.moon {
	background-color: rgb(116, 112, 112);
	height: 10em;
	width: 10em;
	top: 6em;
	left: 12em;
	border-radius: 50%;
	position: absolute;
	overflow: hidden;
	animation: spin-moon 5s infinite linear;
	z-index: -2;
}
@keyframes spin-moon {
	100% {
		transform: rotate(360deg);
	}
}

/*displays craters*/
.moon:before {
	position: absolute;
	content: "";
	height: 1.5em;
	width: 1.5em;
	background-color: var(--secondary-color);
	border-radius: 50%;
	top: 3em;
	box-shadow: 7em 4em 0 0.75em var(--secondary-color),
		5em 5em 0 -0.5em var(--secondary-color),
		6em -1em 0 -0.15em var(--secondary-color),
		8em -0.5em 0 -0.5em var(--secondary-color),
		9em 1em 0 -0.15em var(--secondary-color),
		2em -3em 0 -0.2em var(--secondary-color);
}

.blush {
	position: absolute;
	width: 2em;
	height: 2em;
	background-color: rgba(234, 180, 229, 0.878);
	border-radius: 50%;
	left: 5.8em;
	box-shadow: 6em 0 rgb(234, 180, 229, 0.878);
}
.eyeLeft,
.eyeRight {
	position: absolute;
	height: 1em;
	width: 2em;
	background-color: rgb(60, 57, 57);
	border-radius: 0 0 0.9em 0.9em;
}

.eyeLeft {
	left: 6.87em;
}

.eyeRight {
	left: 11.25em;
}

.eyeLeft:after,
.eyeRight:after {
	position: absolute;
	content: "";
	background-color: azure;
	height: 0.81em;
	width: 1.25em;
	border-radius: 0 0 0.93em 0.93em;
	left: 0.4em;
}

.mouth {
	position: absolute;
	height: 1em;
	width: 1em;
	background-color: rgb(60, 57, 57);
	border-radius: 50%;
	left: 9.5em;
	top: 1em;
	animation: snoore 3s infinite;
}

@keyframes snoore {
	50% {
		transform: scale(1.3);
	}
}

.star {
	position: absolute;
	height: 0.5em;
	width: 0.5em;
	background-color: rgb(246, 214, 83);
	border-radius: 50%;
}

.star:before {
	position: absolute;
	content: "";
	background-color: rgb(238, 194, 19);
	height: 0.4em;
	width: 0.4em;
	border-radius: 50%;
	animation: twinkle 2s infinite;
}

@keyframes twinkle {
	50% {
		transform: scale(2);
	}
}

.star1 {
	left: 5em;
	top: 8em;
}

.star2 {
	left: 8em;
	top: 3em;
}

.star3 {
	left: 15em;
	top: 5em;
}

.star4 {
	left: 10em;
	top: 23em;
}

.star5 {
	left: 25em;
	top: 12em;
}

.star6 {
	left: 20em;
	top: 21em;
}
